.gpt3__features-container__feature {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-direction: column;

    margin: 2rem;
}

.gpt3__features-container__feature-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
    margin-bottom: 0.5rem;

}

.gpt3__features-container__feature-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: rgb(14, 3, 3);
}

.gpt3__features-container__feature-title div {
    width: 40px;
    height: 4px;
    background: var(--gradient-bar);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.gpt3__features-container_feature-text {
    flex: 2;
    /* max-width: 390px; */
    width:90%;
    display: flex;
    justify-content:flex-end;
    padding-bottom: 2rem;
    border-bottom: dashed 2px #000;
    
}

.text_high {

    font-family: var(--font-family);
    font-weight: 1000;
    font-size: 25px;
    line-height: 24px;
    color: #572222;
}


.text_low {

    font-family: var(--font-family);
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    color: #491621c0;
    margin-left: 0.2rem;
}

@media screen and (max-width: 550px) {
    .gpt3__features-container__feature-title h1 {
        font-size: 18px;
        line-height: 22px;
    }

    .gpt3__features-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .gpt3__features-container__feature {
        margin: 1rem 0;
    }
}