.dashboard{
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: rgb(248, 248, 252);
    margin: 4rem 4rem 6rem 6rem;

    border-radius: 10px;
    border: solid 5px rgb(184, 163, 179);
    box-shadow: 10px 10px rgb(146, 129, 150);

}

.dashboard_type{
    display:flex;
    /* background-color:#000; */
}

.dashboard_type p{
    flex:1;
    cursor: pointer;
    font-weight: 500;
    font-family: var(--font-family);
    text-transform: capitalize;
    text-align: center;

    border-radius:10px;

    padding:1rem;
    color: rgb(29, 70, 62);
    line-height: 25px;
    font-weight: 1000;
    font-size: 29px;
    letter-spacing: 1px;
    
}



.dashboard_type p:nth-child(1){
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    background-color: rgb(192, 213, 236);
    /* border-right: 0; */
}
.dashboard_type p:nth-child(2){
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    background-color:rgb(229, 194, 227);
    /* border-left: 0; */

}

.dashboard_type .choose{
    border: solid 4px rgba(0, 7, 66, 0.356);

}

.dashboard_container{
    margin-top: 2rem;
    margin-left: 2rem;
}

@media screen and (max-width: 550px) {
    .dashboard_type p{
        line-height: 25px;
        font-weight: 1200;
        font-size: 22px;
        letter-spacing: 0px;
    }
    .dashboard{
        padding: 1.3rem;
        margin: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .dashboard{
        padding: 1.2rem 0.2rem ;
        padding-right: 0.3rem;
        margin: 1rem;
        margin-left: 0.5rem;
    }
}