@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #493703 1.84%, #3a530b 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #faba67 -13.86%, #77f467 99.55%);
  
  --color-bg: #abbae960;
  --color-footer : #83b8788e;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #588147;
}