.gpt3__header {
    display: flex;
}

.gpt3__header-content {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    margin-right: 5rem;

    padding:2rem;
    background-color: rgba(68, 134, 76, 0.473);
    border-radius:30px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;

}

.gpt3__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #302716;
}

.gpt3__header-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgb(214, 245, 194);
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.gpt3__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}

.gpt3__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #caf7c8b9;
    border: 2px #caf7c8b9;
    padding: 0 1rem;
    outline: none;
    color: #747402;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gpt3__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: rgba(10, 27, 1, 0.576);
    border: 2px rgba(10, 27, 1, 0.576);
    padding: 0 1rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}



.gpt3__header-image {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 2rem; */
    border-radius:30px;
    border: 4px solid #0442096e;
    padding:1rem;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

.gpt3__header-image img {
    width: 100%;
    height: 95%;
}

@media screen and (max-width: 1050px) {
    .gpt3__header {
        flex-direction: column;
    }

    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .gpt3__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .gpt3__header-content__people {
        flex-direction: column;
    }

    .gpt3__header-content__people p {
        margin: 0;
    }

    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .gpt3__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .gpt3__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}